/*
=============== 
Variables
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --clr-border: rgb(224, 224, 224);
  --clr-cyan-v-dark: #03404E;
  --clr-cyan-dark: #088494;;
  --clr-cyan-regular: #B9E3E9;
  --clr-cyan-light: #E1F4F7;
  --clr-cyan-v-light: #F0FBFD;
  --transition: all 0.3s linear;
  --transition-fast: all 0.15s linear;
}

html {
  scroll-behavior: smooth;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #E1F4F7;
  color: #03404E;
  font-size: 1rem;
  position:relative;
  text-align: center;
}


ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-cyan-dark);
}
hr {
  border: none;
  border-top: 1px solid gray;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1;

}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 2.7rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 1rem;
  }
  button {
    font-size: 0.875rem;

  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */
img {
  width: 100%;
  display: block;
}

li {
  list-style: none;
}

button {
  background-color: var(--clr-cyan-dark);
  border-radius: 5px;
  border: 0;
  padding: 0.3em 0.8em;
  color: #fff;
  font-size: 0.875rem;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
  transition: var(--transition);
}

button:hover{
  background-color: var(--clr-cyan-v-dark);
}

.intro-text {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  color: var(--clr-cyan-light);
  line-height: 1.5;
  margin-top: 1em;
}

input{ 
  height: 35px;
  border: 1px solid var(--clr-cyan-v-dark); 
}

input,
textarea{
  outline: 0;
  border-radius: 5px;
  padding: 0 0.7em;
  color: var(--clr-cyan-v-dark);
  font-size: 1rem;
  margin: 0;
}